*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ||FONTS */

/*CHANGES compared to global css stylesheet*/
.nav-item:last-of-type:hover{
    transform: none;
}

.selected-contact{
    color: rgba(255, 255, 255, 0.534);
}


/* ||DIVS */
.form-container{
    width: 90%;
    margin: 100px auto;
}

.intro-text {
    line-height: 1.3;
    font-size: 18px;
    text-align: center;
}
.intro-text h1:first-of-type{
    font-style: italic;
}
.intro-text h1:nth-of-type(2){
    font-size: 40px;
    margin: 80px 0 20px 0;
}
.intro-text a{
    color: rgb(25, 7, 128);
}
.intro-text a:hover{
    color: rgb(44, 8, 204);
}


.contact-form{
    margin-top: 60px;
   
}

.form-row {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

label{
    margin: 20px 0 3px 0;
}

.form-row input,
.form-row select,
.form-row textarea {
    border: 1px solid rgba(0, 0, 0, 0.39);
    border-radius: 5px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.13);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

::placeholder{
    font-size: 15px;
    color: rgba(7, 7, 7, 0.562);
}
.form-row textarea,
.form-row input{
    padding-left: 9px;
    transition-duration: 0.5s;
}

.form-row select{
    padding-left: 6px;
    transition-duration: 0.5s;
}


.form-row input:hover,
.form-row select:hover,
.form-row textarea:hover {
    border: 1.5px solid black;
    transition-duration: 0.5s;
}

.form-row input [type="text"]:invalid,
.form-row input [type="email"]:invalid {
  border: 1px solid #850002;
  color: #850002;
  box-shadow: none; 
}

.form-row textarea{
    height: 120px;
    padding: 9px;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #2178db;
    border: none;
    border-radius: 5px;
    margin-top: 60px ;
    padding: 15px 0;
    width: 250px;
    align-self: center;
    cursor: pointer;
  }
  
  .form-row button:hover {
    background-color: #558cca;
  }
  
  .form-row button:active {
    background-color: #407FC7;
  }

  .privacy-policy{
    display: flex;
    align-items: center;
}



                            /* ||RESPONSIVE */

/* ||tablet */
@media only screen and (min-width:501px) and (max-width:960px){
    .hero-text h2:first-of-type{
        text-align: center;
        
    }
    .nav-item:last-of-type:hover{
        border-bottom: none;
    }

    .form-container{
        max-width: 550px;
        margin: 100px auto;
    }
    
}
/* ||desktop */
@media only screen and (min-width:961px){
    .contact-page{
        margin: 0 110px;
    }
    .nav-item:last-of-type:hover{
        border-bottom: none;
    }
    .form-group {
        display: flex;
        margin-bottom: 20px;
    }

    .form-row{
        width: 100%;
    }
    .privacy-policy{
        display: flex;
        align-items: center;
    }

    .message textarea{
        height: 150px;
    }
    
    .form-row button {
        margin-top: 120px ;
        width: 300px;
      }
   

    




}