*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    
}

html{
    scroll-behavior: smooth;
}

/* ||FONTS */



/*CHANGES compared to global css stylesheet*/
.nav-item:nth-of-type(2):hover{
    transform: none;
}
.selected-portfolio{
    color: rgba(255, 255, 255, 0.534);
}

/*||DIVS*/
span{
    color:rgb(139, 0, 0);
}
.fixed-arrow{
    position: fixed;
    z-index: 1;
    width: 60px;
    bottom: 20px;
    right: 20px;
    opacity: 30%;
    transition: all 0.5s;
}
.fixed-arrow:hover{
    transition: all 0.5s;
    opacity: 100%;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid antiquewhite;
    width: 100%;
    margin-bottom: 40px;
    border-radius: 10px;
}

.nav-link{
    color: antiquewhite;
    font-size: 18px;
    
    
}

.portfolio-page{
    margin: 50px 15px;             /*see here*/
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects h1:first-of-type{
    font-size: 35px;
    font-style: italic;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.829);
    margin: 40px 0 10px 0;
    width: 100%;
    border-bottom: 5px solid rgba(82, 3, 3, 0.274);
}

.projects h1:last-of-type{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.911);
    width: 100%;
}

/*GOAL BOX*/
.goal-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.836);
    border-radius: 20px;
    margin: 50px 0 130px 0;
    padding: 30px;
    height: 450px;
}
.projects h3{
    color: antiquewhite;
    font-style: italic;
    width: 100%;
    line-height: 1.4;
}
.projects h3 > span{
    font-size: 30px;
    margin-bottom: 30px;
}

.planet{
    margin: 15px 0 0 0;
    width: 70px;
    opacity: 70%; 
    animation-name: planet;
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
@keyframes planet{
    0%  {transform:scale(1.2);}
    10% {transform:scale(1.5);}
    20% {transform:scale(1.2);}
    30% {transform:scale(1.5);}
    40% {transform:scale(1.2);}
    50% {transform:scale(1.5);}
    60% {transform:scale(1.2);}
    70% {transform:scale(1.5);}
    80% {transform:scale(1.2);}
    90% {transform:scale(1.5);}
    100% {transform:scale(1.2);}
}



.project-container{
    width: 100%;
    margin: 80px 0;
}

.project-container h4{
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}
.project-container span{
    color: darkred;
}
.container-description{
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: black;
}
.project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.836);
    height: 350px;
    border-radius: 20px;
}
.project-item p{
    font-size: 35px;
    color: antiquewhite;
}


.first-project{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/img/screenshot.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 170%;
    transition-duration: 0.5s;
}
.first-project:hover{
    transition-duration: 0.5s;
    background-size: 210%;
}
.first-project:hover .show-on-hover{
    display: block;
    transition-duration: 1s;
}
.show-on-hover{
    display: none;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.479);
}

.back-to{
    color: antiquewhite;
    text-shadow: 3px 3px 8px rgba(255, 255, 255, 0.678);
    font-size: 20px;
    line-height: 28px;
    transition-duration: 0.5s;
}
.back-to:hover{
    color: rgba(0, 0, 0, 0.658);
    transform: scale(1.2);
    transition-duration: 0.5s;
}


                            /* ||RESPONSIVE */

/* ||tablet */
@media only screen and (min-width:501px) and (max-width:960px){
    .nav-item:nth-of-type(2):hover{
        border-bottom: none;
    }
    .nav {
        width: 100%;
    }
   
    .goal-box{
        height: 480px;
        width: 100%;  
    }
    .planet{ 
        width: 80px;
        margin-top: 30px ;
    }

    .projects h1:first-of-type, 
    .projects h1:last-of-type {
        text-align: center;
        width: 95%;
    }
    
    .project-container{
        max-width: 100%;
    }
    .project-container p {
        text-align: center;
    }
    .project-container h4 {
        margin: 0 0 25px 0;
    }

    .project-item{
        height: 400px;
    }

    .first-project{
        background-size: 160%;
    }
    .first-project:hover{
        background-size: 200%;
    }

    




}
/* ||desktop */
@media only screen and (min-width:961px){
    .nav-item:nth-of-type(2):hover{
        border-bottom: none;
    }
    .portfolio-page{
        margin: 50px 15px;             /*see here*/
    }
    .nav{
        width: 70%;
    }

    .goal-box{
        height: 530px;
        width: 70%;
        text-align: center;
    }

    .planet{
        margin: 60px 0 0 0;
        width: 100px;
    }

    .projects h1:first-of-type {
        font-size: 50px;
        text-align: center;
        width: 95%;
        margin: 100px 0 0 0;
    }
    .projects h1:last-of-type {
        font-size: 25px;
        text-align: center;
        width: 95%;
        margin: 0 0 80px 0;

    }

    .project-container{
        display: flex;
        justify-content: space-around;
        background-color: antiquewhite;
        border-radius: 20px;
        padding: 30px;
        margin-bottom: 200px; 
    }

    .project-item{
        width: 550px;
        height: 450px;
        padding-left: 30px;
    }
    .text-cont{
        display: flex;
        flex-direction: column;
        max-width: 450px;
      
        padding-right: 20px;
        
    }
    .container-description{    
        flex: 2;
        font-size: 20px;
        color: rgba(31, 1, 1, 0.712);
        
    }
    .project-container h4{
        flex: 1;
    }
    
    .first-project{
        background-size: 155%;
    }
    .first-project:hover{
        background-size: 195%;
    }
    .project-item p{
        font-size: 60px;
    }
    .show-on-hover{
        font-size: 60px;
    }



  
    
    .back-to{
        margin-bottom: 140px;
    }


}