*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    
}

html{
    scroll-behavior: smooth;
}

/* ||FONTS */



/*CHANGES compared to global css stylesheet*/
.nav-item:nth-of-type(2):hover{
    background: none;
    transform: none;
    border-top, border-left, border-right: none;
}
.selected-portfolio{
    color: black;
    font-weight: 700;
    font-size: 22px;
}

/*||DIVS*/
span{
    color:rgba(139, 0, 0, 0.521);
}
.static-arrow{
    position: fixed;
    z-index: 1;
    width: 60px;
    bottom: 20px;
    right: 20px;
    opacity: 30%;
    transition: all 0.5s;
}
.static-arrow:hover{
    transition: all 0.5s;
    opacity: 100%;
}

.portfolio-page{
    margin: 80px 10px;
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects h1:first-of-type{
    color: rgba(0, 0, 0, 0.521);
    font-style: italic;
    margin: 30px 0;
    width: 90%;
}
.planet{
    width: 100px;
    opacity: 50%; 
    margin: 20px 0 60px 0;
    transition-duration: 0.5s;
}
.planet:hover{
    transition-duration: 1.5s;
    opacity: 100%;
    transform: scale(1.8)
}

.projects h1:nth-of-type(2){
    margin: 60px 0;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.911);
    border-bottom: 5px solid rgba(139, 0, 0, 0.411);
    width: 90%;
   
}

.projects h1:last-of-type{
    font-size: 35px;
    color: rgba(0, 0, 0, 0.829);
    margin: 40px 0 10px 0;
    
    text-align: center;
}

/*overview*/
.overview{
    text-align: center;
    line-height: 30px;
    margin-bottom: 80px;
    
}
.overview li, 
.overview a{
    color: black;
    font-weight: 700;
    transition-duration: 0.5s;
}
.overview li:hover{
    transform:scale(1.2);
    transition-duration: 0.5s;
}


.project-container{
    width: 100%;
    margin: 80px 0;
    background-color:rgba(211, 229, 245, 0.788);
    border-radius: 20px;
    padding: 40px;
}

.project-container h4{
    text-align: center;
    font-size: 25px;
}
.project-container span{
    color: darkred;
}
.container-description{
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
    color: black;
}
.project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.35);
    height: 350px;
    border-radius: 20px;
}
.project-item p{
    font-size: 35px;
    color: rgba(255, 255, 255, 0.411);
}


.first-project{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/img/screenshot.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 170%;
    transition-duration: 0.5s;
}
.first-project:hover{
    transition-duration: 0.5s;
    background-size: 210%;
}
.first-project:hover .show-on-hover{
    display: block;
    transition-duration: 1s;
}
.show-on-hover{
    display: none;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.479);
}

.back-to{
    color: white;
    text-shadow: 3px 3px 5px rgba(228, 187, 4, 0.562);
    font-size: 20px;
    line-height: 28px;
    transition-duration: 0.5s;
}
.back-to:hover{
    color: rgba(255, 166, 0, 0.658);
    transform: scale(1.3);
    transition-duration: 0.5s;
}


                            /* ||RESPONSIVE */

/* ||tablet */
@media only screen and (min-width:501px) and (max-width:960px){
    .nav-item:nth-of-type(2):hover{
        border-bottom: none;
    }
    .projects h1 {
        width: 70%;
    }

    .project-container {
        width: 100%;
        margin: 80px 0;
    }
    .project-container p {
        text-align: center;
    }
    .project-container h4 {
        margin: 0 0 25px 0;
    }


    .projects h1:first-of-type,
    .projects h1:nth-of-type(2){
        font-size: 30px;
        width: 70%;
        text-align: center;
    }
    
    .projects h1:last-of-type{
        font-size: 50px;
        margin: 80px 0 30px 0;
        
    }
    .overview{
        transform: none;
        margin-bottom: 180px;
    }

    .first-project{
        background-size: 160%;
    }
    .first-project:hover{
        background-size: 200%;
    }

    .project-item{
        height: 400px;
        
    }




}
/* ||desktop */
@media only screen and (min-width:961px){
    .nav-item:nth-of-type(2):hover{
        border-bottom: none;
    }
    .portfolio-page{
        display: flex;
        justify-content: center;
    }
    
    .projects h1{
        margin: 200px 0 40px 0;
    }
    .planet{
        width: 100px;
        opacity: 50%; 
        margin: 20px 0 0 0;
        transition-duration: 0.5s;
    }

    .project-container{
        display: flex;
        justify-content: space-around; 
        margin-bottom: 200px; 
        width: 90%;
    }

    .project-item{
        width: 550px;
        height: 450px;
        margin-left: 10px;
    }
    .text-cont{
        display: flex;
        flex-direction: column;
        width: 400px;

    }
    .container-description{    
        flex: 2;
        font-size: 20px;
        color: rgba(31, 1, 1, 0.712);
        
    }
    
    .project-container h4{
        padding-top: 20px;
        flex: 1;
    }
    

    .first-project{
        background-size: 155%;
    }
    .first-project:hover{
        background-size: 195%;
    }
    .project-item p{
        font-size: 60px;
    }
    .show-on-hover{
        font-size: 60px;
    }


    .projects h1:first-of-type,
    .projects h1:nth-of-type(2){
        font-size: 40px;
        margin-top: 120px;
        width: 55%;
        text-align: center;
    }
    
    .projects h1:last-of-type{
        font-size: 70px;
        margin: 180px 0 50px 0;
        
    }
    .overview{
        transform: scale(1.3);
        margin-bottom: 200px;
    }
    
    .back-to{
        margin-bottom: 140px;
    }


}